<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- API 路由：/companyResearchAPI/* → http://localhost:9999/* -->
        <rule name="CompanyResearchAPI_Route" stopProcessing="true">
          <match url="^companyResearchAPI/(.*)" />
          <action type="Rewrite" url="http://localhost:9999/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
